<div class="container">
  <form action="/answer">
    <div class="form-group">
      <label for="player_one">Player One</label>
      <select name="player_one" class="form-control" id="player_one">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select>
      <label for="player_two">Player two</label>
      <select name="player_two" class="form-control" id="player_two">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select>
      <button type="submit" name="button" class="btn">play</button>
    </div>
  </form>

</div>
